<%- include("../partials/header") %> 

<div class="row">
    <div class="col-md-4">
        <div class="img-thumbnail">
            <h1><%= user.firstName + " " + user.lastName %> </h1>
            <img src="<%= user.avatar %>" id="avatar" alt="user profile image">
            <div class="caption"><a href="mailto:<%= user.email %>"><%= user.email %></a></div>
        </div>
        <% if (currentUser.id != user.id) { %>
            <% if (isFollowing == false) { %>
                <a href="/follow/<%= user.id %>"><button class="btn btn-primary btn-block my-2" id="follow-button">Follow <%= user.username[0].toUpperCase() + user.username.substring(1) %></button></a>
            <% } else { %>
                <a href="/unfollow/<%= user.id %>" id="unfollow-button"><button class="btn btn-secondary btn-block my-2" id="following-btn">Following <%= user.username[0].toUpperCase() + user.username.substring(1) %></button></a>
            <% } %>
        <% } %>
        <h3 class="mt-4">About <%= user.username[0].toUpperCase() + user.username.substring(1) %></h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, optio perspiciatis voluptatem harum voluptatum tenetur itaque delectus! Minus est eos molestiae ipsa recusandae? Architecto debitis ab suscipit nihil voluptatibus ad!
        </p>
    </div>
    <div class="col-md-8">
        <div class="profile-info-right">
            <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
                <li class="active nav-item"><a href="#campgrounds" data-toggle="tab" class="nav-link active">CAMPGROUNDS <span class="badge badge-pill badge-primary"><%= campgrounds.length %></span></a></li>
                <li class="nav-item"><a href="#followers" data-toggle="tab" class="nav-link">FOLLOWERS <span class="badge badge-pill badge-primary"><%= user.followers.length %></span></a></li>
                <li class="nav-item"><a href="#following" data-toggle="tab" class="nav-link">FOLLOWING <span class="badge badge-pill badge-primary"><%= user.following.length %></span></a></li>
            </ul>
            <div class="tab-content">
                <!--Campgrounds-->
                <div class="tab-pane fade show active" id="campgrounds">
                    <!--<h3><%= user.username[0].toUpperCase() + user.username.substring(1) %>'s campgrounds</h3>-->
                    <div class="row text-center display-campgrounds">
                        <% campgrounds.forEach(campground => { %>
                            <div class="col-md-3 col-sm-6">
                                <div class="card my-3">
                                    <img class="card-img-top" src="<%= campground.image %>" alt="Card image cap">
                                    <div class="card-body">
                                    <h5 class="card-title"><%= campground.name %></h5>
                                    <a href="/campgrounds/<%= campground.id %> " class="btn btn-primary">More Info</a>
                                    </div>
                                </div>
                            </div>
                        <% }); %> 
                    </div> 
                </div>
                <!--Followers-->
                <div class="tab-pane fade" id="followers">
                    <div class="row text-center display-campgrounds">
                        <% user.followers.forEach(follower => { %>
                            <div class="col-md-3 col-sm-6">
                                <div class="card my-3">
                                    <img class="card-img-top" src="<%= follower.avatar %>" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= follower.username[0].toUpperCase() + follower.username.substring(1) %></h5>
                                      <a href="/users/<%= follower.id %>" class="btn btn-primary">More Info</a>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
                <!--Following-->
                <div class="tab-pane fade" id="following">
                    <div class="row text-center display-campgrounds">
                        <% user.following.forEach(following => { %>
                            <div class="col-md-3 col-sm-6">
                                <div class="card my-3">
                                    <img class="card-img-top" src="<%= following.avatar %>" alt="Card image cap">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= following.username[0].toUpperCase() + following.username.substring(1) %></h5>
                                      <a href="/users/<%= following.id %>" class="btn btn-primary">More Info</a>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#unfollow-button").hover(function(){
        $("#following-btn").replaceWith("<button class=\"btn btn-danger btn-block my-2\" id=\"unfollow-btn\">Unfollow <%= user.username[0].toUpperCase() + user.username.substring(1) %></button>");
    }, function(){
        $("#unfollow-btn").replaceWith("<button class=\"btn btn-secondary btn-block my-2\" id=\"following-btn\">Following <%= user.username[0].toUpperCase() + user.username.substring(1) %></button>");
    });
</script>
    
<%- include("../partials/footer") %> 